.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test-rust-project/**
test-rust-project-single-crate/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
